<div class="notLoaded" *ngIf="!loaded">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div *ngIf="loaded" class="component-containerPrim">
    <aside class="target">
        <div class="logo"><img src="../../../assets/logo.png"></div>
        <div class="actions">
            <div class="icon-containerPrim">
                <i class="bi bi-person" routerLink="/profile" routerLinkActive="active"
                    (click)="changeSectionVisibility($event)"></i>
                <span class="tooltip-textPrim">Profile</span>
            </div>
            <div class="icon-containerPrim">
                <i class="bi bi-chat-left-dots " routerLink="/chats" routerLinkActive="active"
                    (click)="changeSectionVisibility($event)"></i>
                <span class="tooltip-textPrim">Chats</span>
            </div>
            <div class="icon-containerPrim">
                <i class="bi bi-people" routerLink="/projects" routerLinkActive="active"
                    (click)="changeSectionVisibility($event)"></i>
                <span class="tooltip-textPrim">Projects</span>
            </div>
            <div class="icon-containerPrim">
                <i class="bi bi-person-lines-fill" routerLink="/friends" routerLinkActive="active"
                    (click)="changeSectionVisibility($event)"></i>
                <span class="tooltip-textPrim">Friends</span>
            </div>
            <div class="icon-containerPrim">
                <i class="bi bi-gear" routerLink="/settings" routerLinkActive="active"
                    (click)="changeSectionVisibility($event)"></i>
                <span class="tooltip-textPrim">Settings</span>
            </div>
        </div>
        <div class="profile">
            <div class="icon-containerPrim">
                <i *ngIf="lightMode; else elseBlock" class="bi bi-moon" (click)="changeLightMode()"></i>
                <ng-template #elseBlock><i class="bi bi-sun" (click)="changeLightMode()"></i></ng-template>
                <span class="tooltip-textPrim">Light Mode</span>
            </div>
            <div class="dropdown">
                <div class="profile-icon" data-bs-toggle="dropdown">
                    <img [src]="myProfileImage || '../../../assets/profile.png'">
                </div>
                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton">
                    <li routerLink="/profile">
                        <p>Profile</p><i class="bi bi-person"></i>
                    </li>
                    <li routerLink="/settings">
                        <p>Settings</p><i class="bi bi-gear"></i>
                    </li>
                    <hr class="dropdown-divider">
                    <li (click)="logout()">
                        <p>Log out</p><i class="bi bi-box-arrow-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <section class="target">
        <router-outlet></router-outlet>
    </section>
    <main class="target hidden">
        <div *ngIf="selectedChat?._id; else noChat">
            <app-chat (changeVisibility)="closeChat()" [chat]="selectedChat"></app-chat>
        </div>
    </main>
    <ng-template #noChat>
        <main class="noChat target hidden">
            <p class="bi bi-arrow-left" (click)="closeChat()"></p>
            <article>
                <i class="bi bi-chat-left"></i>
                <h2>Start Conversation</h2>
            </article>
        </main>
    </ng-template>
</div>
<app-offcanvas [profile]="selectedProfile"></app-offcanvas>