.component-containerPrim {
    height: 100%;
    display: flex;
}

// Aside

aside {
    color: var(--primary-font);
    min-width: 75px;
    height: 100%;
    background: var(--aside-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.4rem;
    align-items: center;
}

.logo {
    img {
        width: 1.5rem;
    }

    margin-top: 1.3rem;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

div>.bi {
    user-select: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.6rem 0.9rem;
    font-size: 1.5rem;
    -webkit-text-stroke: 0.5px;
}

.active {
    background-color: var(--active);
    color: var(--active-font);
}

.icon-containerPrim {
    position: relative;
    display: inline-block;
}

.tooltip-textPrim {
    z-index: 100;
    user-select: none;
    font-size: 0.85rem;
    visibility: hidden;
    position: absolute;
    bottom: 135%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    opacity: 0.75;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.icon-containerPrim:hover .tooltip-textPrim {
    visibility: visible;
}

.profile {
    .icon-containerPrim {
        user-select: none;
    }

    .tooltip-textPrim {
        left: 185%;
        bottom: 5%;
    }

    .bi {
        padding: 5px 10px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    margin-bottom: 1rem;

    img {
        width: 1.8rem;
        border-radius: 100%;
    }
}

.profile-icon {
    cursor: pointer;
    padding: 10px;
}

// Section

section {
    overflow: hidden;
    box-shadow: -3px 0 3px -3px rgba(0, 0, 0, .2);
    min-width: 388px;
    max-width: 388px;
    height: 100%;
    background-color: var(--section-background);
}

// Main

main {
    width: 100%;
    height: 100%;
    background-color: var(--main-background);
}

// noCHat

.noChat {
    user-select: none;
    opacity: 0.8;
    color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
    gap: 1rem;

    * {
        background-color: var(--primary-font);
    }

    h2 {
        font-size: 1.4rem;
        border-radius: 10rem;
        padding: 0.3rem 1rem 0.4rem 1rem;
    }

    i {
        cursor: default;
        border-radius: 10rem;
        padding: 1rem 2rem;
        font-size: 3.5rem;
    }

}

section.hidden {
    display: none;
}

@media only screen and (max-width: 1300px) {
    section {
        min-width: 350px;
        max-width: 350px;
    }

    aside {
        min-width: 65px;
    }
}

@media only screen and (max-width: 990px) {
    section.target {
        max-width: calc(100% - 66px);
        min-width: calc(100% - 66px);
    }

    main.hidden {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    aside.hidden {
        display: none;
    }
}