<div class="component-container">
    <aside>
        <div class="logo"><img src="../../../assets/logo.png"></div>
        <div class="actions">
            <div class="icon-container">
                <i class="bi bi-person active"></i>
                <span class="tooltip-text">Profile</span>
            </div>
            <div class="icon-container">
                <i class="bi bi-chat-left-dots "></i>
                <span class="tooltip-text">Chats</span>
            </div>
            <div class="icon-container">
                <i class="bi bi-people"></i>
                <span class="tooltip-text">Projects</span>
            </div>
            <div class="icon-container">
                <i class="bi bi-person-lines-fill"></i>
                <span class="tooltip-text">Friends</span>
            </div>
            <div class="icon-container">
                <i class="bi bi-gear"></i>
                <span class="tooltip-text">Settings</span>
            </div>
        </div>
        <div class="profile">
            <div class="icon-container">
                <!-- <i class="bi bi-moon"></i> -->
                <i class="bi bi-sun"></i>
                <span class="tooltip-text">Light Mode</span>
            </div>
            <div class="profile-icon">
                <img src="../../../assets/profile.png">
            </div>
        </div>
    </aside>
    <section>
        <!-- <app-profile></app-profile> -->
        <app-chats></app-chats>
    </section>
    <main>

    </main>
</div>