<div class="searchBar">
    <label><i class="bi bi-search"></i>
        <input type="text" class="form-control" placeholder="Search friends...">
    </label>
</div>
<main>
    <div class="friend">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Name</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
    <div class="friend ">
        <div class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>Naaaaame</h6>
        </div>
        <i class="bi bi-three-dots-vertical"></i>
    </div>
</main>