<section class="component-container">
    <header>
        <p class="bi bi-arrow-left" routerLink="/projects"></p>
        <h4>projecttt</h4>
        <!-- *ngIf="project.adminId===myId" -->
        <div class="dropdown dropdown-center icon-container">
            <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown"></i>
            <span class="tooltip-text">Options</span>
            <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton">
                <li>
                    <p>Add Field</p><i class="bi bi-plus-lg"></i>
                </li>
                <li>
                    <p>Get Code</p><i class="bi bi-person-add"></i>
                </li>
            </ul>
        </div>
    </header>
    <main>
    </main>
</section>