.app-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.notLoaded {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.spinner-border {
    color: var(--header);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 95%;
}

.header>h3 {
    padding: 0 2rem;
    margin-bottom: 0;
}

.search-friends {
    padding: 0.4rem 0;
    display: flex;
    text-align: center;
    justify-content: center;

    input {
        height: 2rem;
        width: 97%;
    }
}

.convs {
    width: 30%;
    height: 94%;
    background-color: var(--border);
}

.conv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    border-left: 2px solid var(--border);
    display: flex;
    align-items: center;
    height: 6%;
    background-color: var(--header);
}

.icons {
    margin-right: 0.8rem;
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;

    i {
        margin-left: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
        padding: 0.35rem 0.6rem;
        background-color: var(--border);
        border-radius: 100%;
    }

    i:hover {
        opacity: 0.88;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 94%;
    background-color: var(--chat-background);
}

.chat-body {
    width: 100%;
}

.messages {
    height: 94%;
    padding: 1rem 4rem 2.5rem 4rem;
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    p {
        word-wrap: break-word;
    }
}

.chat-input {
    .form-control {
        width: 80%;
    }

    background-color: var(--chat-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0.5rem;
    gap: 1rem;
    padding: 0 0.4rem;

    h4 {
        margin: 0;
    }
}

.profileImage>img {
    border-radius: 100%;
    width: 2.5rem;
    height: auto;
}

.header-participants {
    h4 {
        margin: 0 0 0.1rem 0;
    }

    div {
        display: flex;
        gap: 0.5rem;
    }

    padding: 0 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 0.6rem;
}

.loadingMessages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94%;
}



.findFriendInput {
    margin-bottom: 1rem;
}

.request {
    display: flex;
    gap: 1rem;
    align-items: center;

    div {
        display: flex;
        gap: 0.5rem;
    }

    h4 {
        margin: 0;
    }
}

.chatWith {
    background-color: var(--conv);
    padding: 0.76rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    div {
        display: flex;
        gap: 0.5rem;
    }

    p {
        font-size: 1.1rem;
        margin: 0;
    }

    img {
        border-radius: 100%;
        width: 2.8rem;
    }

    border-bottom: 2px solid var(--border);
}


.chatWith:hover {
    opacity: 0.9;
}

.sendFriendRequest {
    padding: 0.5rem 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;

    h4 {
        margin: 0;
    }
}

.conversationWith {
    background-color: var(--conv);
    padding: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2px 3px;

    p {
        font-size: 1.1rem;
        margin: 0;
    }

    img {
        border-radius: 100%;
        width: 2.8rem;
    }
}


.conversationWith:hover {
    opacity: 0.9;
}

.message {
    .content {
        display: flex;
        align-items: flex-end;
        gap: 0.6rem;


        img {
            border-radius: 100%;
            width: 1.9rem;
            height: 1.9rem;
        }

        P {
            margin: 0;
            padding: 0.3rem 0.7rem;
            border-radius: 1rem;
            background-color: var(--border);
            font-size: 1.1rem;
        }

    }

    .messageAligment {
        margin-top: 0.2rem;
        margin-left: 2.5rem;
    }

    .from {
        color: gray;
        font-size: 0.9rem;
        margin: 1rem 0 0.1rem 2.7rem;
    }
}



.messageByMe {
    align-self: flex-end;

    .content {
        flex-direction: row-reverse;
    }

    .messageAligment {
        margin-top: 0.2rem;
        margin-right: 2.5rem;
    }

    .from {
        width: auto;
        text-align: right;
        position: relative;
        right: 3.2rem;
    }
}

.content {
    word-break: break-word;
}