<div class="notLoaded" *ngIf="!loaded">
    <div class="spinner-border" role="status">
    </div>
</div>
<div class="app-container" *ngIf="loaded">
    <div class="wrapper">
        <div class="convs">
            <div class="conv-header header">
                <div class="profile">
                    <div class="profileImage"><img src="{{image}}">
                    </div>
                </div>
                <div class="icons">
                    <i class="bi bi-question-diamond-fill" data-bs-toggle="modal" data-bs-target="#reqModal"
                        (click)="getRequests()"></i>
                    <div class="modal fade" id="reqModal" tabindex="-1" aria-labelledby="reqModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="reqModalLabel">Friend requests</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div *ngFor="let request of requests">
                                        <div class="request">
                                            <h4>{{request.name}}</h4>
                                            <div>
                                                <button class="btn btn-primary"
                                                    (click)="acceptRequest(request._id)">Accept</button>
                                                <button class="btn btn-primary"
                                                    (click)="declineRequest(request._id)">Decline</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="bi bi-chat-dots" data-bs-toggle="modal" data-bs-target="#findFriendsModal"
                        (click)="getFriends()"></i>
                    <div class="modal fade" id="findFriendsModal" tabindex="-1" aria-labelledby="findFriendsModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="findFriendsModalLabel">Start a conversation!</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control findFriendInput" placeholder="Find friend.."
                                        [formControl]="findFriendForm" (keydown.enter)="findFriend()">
                                    <div *ngFor="let friend of friends">
                                        <div class="chatWith" (click)="newChat(friend)">
                                            <img src="{{image}}">
                                            <p>{{friend.name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="bi bi-person-add" data-bs-toggle="modal" data-bs-target="#findPeopleModal"></i>
                    <div class="modal fade" id="findPeopleModal" tabindex="-1" aria-labelledby="findPeopleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="findPeopleModalLabel">Find people</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" class="form-control" placeholder="Find people by name"
                                        [formControl]="findPeopleForm">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" (click)="findPeople()" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#peopleModal">Find</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="peopleModal" tabindex="-1" aria-labelledby="peopleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="peopleModalLabel">People found</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body people-modal">
                                    <div *ngFor="let people of peoples">
                                        <div class="sendFriendRequest">
                                            <h4>{{people.name}}</h4>
                                            <button class="btn btn-primary" (click)="sendRequest(people._id)">Send
                                                friend
                                                request</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-friends">
                <input type="text" class="form-control" placeholder="Find a conversation.." [formControl]="findChatForm"
                    (keydown.enter)="findChat()">
            </div>
            <div *ngFor="let conversation of myProfile.chats">
                <div class="conversationWith" (click)="chatWith(conversation)">
                    <img src="{{image}}">
                    <div>
                        <p *ngFor="let name of (conversation.participants)">{{name.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat">
            <div class=" header">
                <div *ngIf="conversation" class="header-participants">
                    <div class="profileImage"><img src="{{image}}">
                    </div>
                    <div>
                        <h4 *ngFor="let name of (conversation.participants)">{{name.name}}</h4>
                    </div>
                </div>
            </div>
            <div class="chat chat-body" *ngIf="conversation">
                <div id="messages" class="messages" *ngIf="convLoaded">
                    <div *ngFor="let msg of messages; let i=index" class="message"
                        [ngClass]="{'messageByMe': msg.from?.name==myProfile.name}">
                        <ng-container *ngIf="i == 0 || msg.from?.name != messages[i-1]?.from?.name">
                            <p *ngIf="msg.from?.name!=myProfile.name; else elseBlock" class="from">
                                {{msg.from?.name}}
                            </p>
                            <ng-template #elseBlock>
                                <p class="from">
                                    You
                                </p>
                            </ng-template>
                            <div class="content">
                                <ng-container *ngIf="msg.from?.name!=messages[i-1]?.from?.name">
                                    <img src="{{image}}">
                                </ng-container>
                                <p class="content">{{msg.content}}</p>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="i != 0 && msg.from?.name == messages[i-1]?.from?.name">
                            <div class="content messageAligment">
                                <p class="content messageAligment">{{msg.content}}</p>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="!convLoaded" class="loadingMessages">
                    <div class="spinner-border" role="status">
                    </div>
                </div>
                <div class="chat-input">
                    <input type="text" class="form-control" placeholder="Send a message. ." [formControl]="messageForm"
                        (keydown.enter)="sendMessage()">
                </div>
            </div>
        </div>
    </div>
</div>