.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 15%;
}

.wrapper {
    margin-top: 8vh;
    background: var(--section-background);
    padding: 27px;
    width: 360px;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 88%;
}

h1 {
    text-align: center;
    margin-bottom: 27px;
    color: var(--secondary-font);
    font-size: 1.6em;
}

label {
    color: var(--secondary-font);
    font-weight: bold;
    font-size: 1.1em;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 9px;
    margin-bottom: 18px;
    border-color: var(--section-background);
    border-radius: 0.2rem;
    background-color: var(--active);
    color: var(--primary-font);
}

input[type="email"]:focus,
input[type="password"]:focus {
    box-shadow: none;
    border-color: var(--active);
    background-color: var(--aside-background);
}

.butons {
    margin-top: 50px;
}

.buton {
    display: block;
    width: 100%;
    padding: 9px;
    margin-top: 18px;
    border: none;
    border-radius: 3px;
    color: var(--secondary-font);
    background-color: var(--active-font);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
}

.buton:hover {
    opacity: 0.85;
}

.form-text {
    color: #7d8a99;
    font-size: 0.9em;
}

@media only screen and (max-width: 400px) {
    .container {
        background-color: var(--section-background);
    }

    .wrapper {

        box-shadow: none;
        margin: 19px;
        padding: 0;
        // margin-top: 10vh;
    }
}