// section

header {
    .bi {
        font-size: 1.2rem;
        margin: -5px 0;
    }
}

section {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 0.5rem;

    h5 {
        margin: 0;
        font-size: 1.1rem;
        transition: 0.1s ease-in-out;
        border-radius: 0.2rem;
        cursor: pointer;
        padding: 0.5rem 1.4rem;
    }

    h5:hover {
        background-color: var(--aside-background);
    }

    .active {
        background-color: var(--aside-background);
        color: var(--active-font);
    }
}

// components!



// Main
.dontoverflow {
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}

.request {
    img {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 100%;
    }
}

.friend:hover {
    background-color: var(--aside-background);
}

.request:hover {
    p {
        background-color: var(--section-background);
    }
}

h6 {
    margin: 0;
}

// actions

.actions {
    margin-right: -10px;
    display: flex;
    gap: 0.5rem;

    p {
        font-size: 0.8rem;
        transition: 0.2s ease-in-out;
        margin: 0;
        border-radius: 0.2rem;
        padding: 0.3rem 0.4rem;
        background-color: var(--aside-background);
    }

    p:hover {
        opacity: 0.5;
    }
}

.dropdown {
    .bi {
        user-select: none;
    }

    ul {
        p {
            font-size: 0.88rem;
        }

        .bi {
            font-size: 0.84rem;
        }

        transition: 0.1s ease-in-out;
    }

}

.modal-body {
    .searchBar {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .friend {
        transition: 0.2s ease-in-out;
    }

    p {
        transition: 0.2s ease-in-out;
        color: var(--primary-font);
        background-color: var(--modal-input);
        font-size: 0.8rem;
        margin: 0;
        padding: 0.4rem 0.8rem;
        border-radius: 0.2rem;
    }

    .friend:hover {
        p {
            background-color: var(--modal-background);
        }
    }
}