header {
    .bi {
        font-size: 1.2rem;
    }
}

section {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 0.5rem;

    h5 {
        margin: 0;
        font-size: 1.1rem;
        transition: 0.1s ease-in-out;
        border-radius: 0.2rem;
        cursor: pointer;
        padding: 0.5rem 1.4rem;
    }

    h5:hover {
        background-color: var(--aside-background);
    }

    .active {
        background-color: var(--aside-background);
        color: var(--active-font);
    }
}

// components!

.dontoverflow {
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.overflow {
    padding-bottom: 3.5rem;
    height: 100%;
    overflow-y: auto;
}

main {
    margin-top: 1rem;
}

.actions {
    margin-right: -10px;
}


.modal-body {
    .searchBar {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin-right: 1rem;
        font-size: 0.9rem;
        padding: 0.25rem 0.6rem;
        background-color: var(--modal-input);
    }

    .person:hover {
        p {
            background-color: var(--modal-background);
        }
    }
}