<div class="component-container">
    <header>
        <h4>Projects</h4> <i class="bi bi-plus-circle"></i>
    </header>
    <div class="searchBar">
        <label><i class="bi bi-search"></i>
            <input type="text" class="form-control" placeholder="Search projects...">
        </label>
    </div>
    <main>
        <div class="project active">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
        <div class="project ">
            <div class="wrapper">
                <img src="../../../assets/profile.png">
                <h6>#Name</h6>
            </div>
            <p class="new-messages">new</p>
        </div>
    </main>
</div>