main {
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    .person {
        width: 87%;
    }
}

.wrapper {
    gap: 1.1rem;
}

li {
    .bi {
        margin: -2px;
        font-size: 1.05rem;
    }
}

.invalid-feedback {
    margin-top: -12px;
    margin-bottom: 0.5rem;
    display: block;
}

.projTitle {
    margin: 0;
    padding: 0.65rem 0.4rem;
}