.chat-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Header

header {
    .bi-arrow-left {
        display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--aside-background);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    gap: 2rem;
    height: 5rem;

    .person {
        width: auto;
        cursor: default;
        margin-left: 0.5rem;

        .bi {
            background-color: var(--main-background);
        }

        .wrapper {
            cursor: pointer;

            div {
                display: flex;
                align-items: center;
                gap: 0.4rem;
            }

            .bi {
                padding-top: 1px;
                font-size: 0.55rem;
                color: var(--offline);
                display: inline-block;
                width: auto;
            }

            .online {
                color: var(--online);
            }
        }
    }

    h6 {
        overflow: hidden;
        margin: 0;
        font-size: 1.03rem;
        color: var(--secondary-font);
        display: block;
        word-break: break-all;
    }

    .Actions {
        display: flex;
        align-items: center;
        gap: 1.1rem;
        margin-right: 1.8rem;

        .action {
            -webkit-text-stroke-width: 0.2px;
            cursor: pointer;
            color: var(--primary-font);
            padding: 5px;
            font-size: 1.2rem;
        }

        .action:hover {
            opacity: 0.8;
        }
    }
}

li {
    padding: 0.3rem 1.5rem;
}

// Footer

footer {
    padding: 1rem 3rem 1.3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    height: 5rem;
    border-top: 1px solid var(--aside-background);
    box-shadow: 0 -3px 3px -3px rgba(0, 0, 0, .2);

    input[type="text"] {
        transition: 0.1s ease-in-out;
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        flex-grow: 1;
        padding-left: 1rem;
        -webkit-text-stroke-width: 0.4px;
        letter-spacing: 0.6px;
        color: var(--primary-font);
        font-size: 0.93rem;
        height: 2.55rem;
        background-color: var(--aside-background);
        border-color: var(--section-background);
    }

    input[type="text"]:focus {
        box-shadow: 0 0 6px rgba(0, 0, 0, .2);
        border-color: var(--active);
    }

    .Actions {
        div {
            display: flex;
            align-items: center;
            gap: 0.6rem;
        }

        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    .bi {
        cursor: pointer;
        padding: 5px;
        font-size: 1.3rem;
        color: var(--active-font);
    }

    .bi:hover {
        opacity: 0.8;
    }

    .bi:active {
        opacity: 1;
    }

    .bi-send-fill {
        font-size: 1.1rem;
        color: white;
        padding: 8px 16px 6px 14px;
        border-radius: 0.3rem;
        background-color: var(--active-font);
    }
}


// Main

main {
    padding: 0 3.3rem 1rem 3.3rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;

    .message {
        overflow: visible;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
        max-width: 37.5rem;
    }

    .message-sender {
        color: var(--primary-font);
        font-size: 0.85rem;
        letter-spacing: 0.5px;
        margin: 0.45rem 3.3rem;
    }

    .message-wrapper {
        color: var(--secondary-font);
        gap: 0.7rem;
        display: flex;

        div {
            display: flex;
            gap: 0.3rem;
        }

        div:hover {
            .action {
                opacity: 0.7;
            }
        }

        .action {
            transition: 0.2s ease-in-out;
            height: fit-content;
            padding: 0.3rem;
            opacity: 0;
            cursor: pointer;
            margin-right: 5rem;
        }

        .action:hover {
            opacity: 0.9 !important;
        }
    }

    .profile-image {
        align-self: flex-start;
        width: 2.1rem;
        border-radius: 100%;
    }

    .message-content {
        overflow: visible;
        max-width: 37.5rem;
        overflow-wrap: break-word;
        font-size: 0.99rem;
        border: 1px solid var(--active);
        background-color: var(--aside-background);
        border-radius: 1rem;
        padding: 0.35rem 0.8rem;
    }

    .from-me {
        align-self: flex-end;

        .message-sender {
            text-align: right;
        }

        .message-wrapper {
            flex-direction: row-reverse;

            div {
                flex-direction: row-reverse;
            }

            .action {
                margin-right: 0;
                margin-left: 5rem;
            }
        }
    }

}

.search {
    .custom-dropdown {
        padding: 0.3rem;
    }

    input[type="text"] {
        background-color: var(--aside-background);
        border-color: var(--aside-background);
        color: var(--primary-font);
    }

    input[type="text"]:focus {
        box-shadow: none;
    }
}

.modal-content {
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-width: 1px;

    img {
        width: 6rem;
        border-radius: 100%;
        border: 5px solid var(--aside-background);
    }

    h4 {
        margin-top: 1rem;
        font-size: 1.25rem;
        color: var(--secondary-font);
    }

    p {
        font-weight: 500;
        font-size: 0.93rem;
        color: var(--primary-font);
    }

    .Actions {
        margin-top: 2.5rem;
        color: var(--secondary-font);
        display: flex;
        gap: 1.5rem;

        .bi {
            color: white;
            padding: 0.8rem 1rem;
            border-radius: 100%;
            background-color: var(--online);
            border: 2px solid var(--active);
            cursor: pointer;
        }

        .bi:hover {
            opacity: 0.85;
        }

        .bi-x-lg {
            background-color: var(--busy);
        }
    }
}

@media only screen and (max-width: 1350px) {
    main {
        padding: 0 2.2rem 1rem 2.2rem;

        .message {
            max-width: 33rem;
        }

        .message-content {
            max-width: 33rem;
        }
    }

}

@media only screen and (max-width: 1150px) {
    main {
        padding: 0 1.5rem 1rem 1.5rem;

        .message {
            max-width: 24rem;
        }

        .message-content {
            max-width: 24rem;
        }
    }

}

@media only screen and (max-width: 635px) {
    main {
        .message {
            max-width: 21.8rem;
        }

        .message-content {
            max-width: 21.8rem;
        }
    }
}

@media only screen and (max-width: 599px) {
    header {
        .Actions {
            gap: 1rem;
            margin-right: 1rem;
        }
    }

    main {
        .message {
            max-width: 100%;
        }

        .message-content {
            max-width: 63vw;
        }
    }

    header {
        .bi-arrow-left {
            cursor: pointer;
            -webkit-text-stroke-width: 0.3px;
            background-color: var(--aside-background);
            border-radius: 100%;
            padding: 0.3rem;
            font-size: 1.2rem;
            margin-left: 1rem;
            color: var(--primary-font);
            display: inherit;
        }

        .bi-arrow-left:hover {
            opacity: 0.7
        }

        .person {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width:500px) {
    footer {
        .bi {
            font-size: 1.2rem
        }

        .bi-send-fill {
            padding: 6px 14px 5px 12px;
        }

        padding-left: 1.5rem;
        padding-right: 1.5rem;
        gap: 1.5rem;

        .Actions {
            gap: 0.8rem;
        }
    }

    .person {
        width: auto;
        padding-right: 0;

        .wrapper {
            gap: 0;
        }

        h6 {
            display: none;
        }

        i {
            font-size: 0.3rem;
            position: relative;
            border-radius: 100%;
            right: 10px;
            top: 10px;
            padding: 0 3px;
        }

    }

    .message-wrapper {
        .dropdown>i {
            margin-right: 2rem;
        }
    }

    .from-me {
        .message-wrapper {
            .dropdown>i {
                margin-left: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 374px) {
    header {
        .Actions {
            gap: 0.8rem;
            margin-right: 0.5rem;

            .action {
                font-size: 1.15rem;
            }
        }
    }

    footer {
        gap: 1rem;
        padding: 0.7rem 0.7rem 1rem 0.7rem;

        .bi-send-fill {
            padding: 4px 11px 4px 9px;
        }
    }

    header {
        gap: 0.4rem;

        .Actions {
            gap: 0.8rem;
        }
    }

    .message-wrapper {
        .dropdown>i {
            margin-right: 0;
        }
    }

    .from-me {
        .message-wrapper {
            .dropdown>i {
                margin-left: 0;
            }
        }
    }
}

.person-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}