<div class="component-container">
    <header></header>
    <main></main>
    <footer></footer>
</div>
<!-- <div class="chat">
    <div class=" header">
        <div *ngIf="conversation" class="header-participants">
            <div class="profileImage"><img src="{{image}}">
            </div>
            <div>
                <h4 *ngFor="let name of (conversation.participants)">{{name.name}}</h4>
            </div>
        </div>
    </div>
    <div class="chat chat-body" *ngIf="conversation">
        <div id="messages" class="messages" *ngIf="convLoaded">
            <div *ngFor="let msg of messages; let i=index" class="message"
                [ngClass]="{'messageByMe': msg.from?.name==myProfile.name}">
                <ng-container *ngIf="i == 0 || msg.from?.name != messages[i-1]?.from?.name">
                    <p *ngIf="msg.from?.name!=myProfile.name; else elseBlock" class="from">
                        {{msg.from?.name}}
                    </p>
                    <ng-template #elseBlock>
                        <p class="from">
                            You
                        </p>
                    </ng-template>
                    <div class="content">
                        <ng-container *ngIf="msg.from?.name!=messages[i-1]?.from?.name">
                            <img src="{{image}}">
                        </ng-container>
                        <p class="content">{{msg.content}}</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="i != 0 && msg.from?.name == messages[i-1]?.from?.name">
                    <div class="content messageAligment">
                        <p class="content messageAligment">{{msg.content}}</p>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!convLoaded" class="loadingMessages">
            <div class="spinner-border" role="status">
            </div>
        </div>
        <div class="chat-input">
            <input type="text" class="form-control" placeholder="Send a message. ." [formControl]="messageForm"
                (keydown.enter)="sendMessage()">
        </div>
    </div>
</div> -->