<div class="chat-layout" *ngIf="chat?._id; else noChat">
    <!-- <app-call></app-call> -->
    <header>
        <div class="person-wrapper">
            <p class="bi bi-arrow-left" (click)="closeChat()"></p>
            <div class="person">
                <div (click)="viewProfile()" class="wrapper">
                    <img *ngIf="chat.participants.length>0" [src]="(chat.image || ((chat.participants.length===2 && chat.participants.at(0)._id === myProfile._id) ?
    chat.participants.at(1).image : chat.participants.at(0).image)) || '../../../assets/profile.png'">
                    <div>
                        <h6 *ngIf="(chat.participants.length>0)">
                            {{
                            chat.name ||
                            (chat.participants?.[0]?._id === myProfile._id
                            ? chat.participants?.[1]?.name
                            : chat.participants?.[0]?.name)
                            }}
                        </h6>
                        <h5 *ngIf="!(chat.participants.length>0)">
                            # {{
                            chat.name}}
                        </h5><i *ngIf="!chat.name" class="bi bi-record-circle-fill"
                            [class.online]="getOnlineClass()"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="Actions">
            <div class="dropdown search">
                <i class="bi action bi-search" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuButton">
                    <input [formControl]="searchMessageForm" (ngModelChange)="searchMessage()" autocomplete="off"
                        placeholder="Search.." type="text" class="form-control">
                </ul>
            </div>
            <i data-bs-toggle="modal" data-bs-target="#audioModal" class="bi action bi-telephone"></i>
            <i data-bs-toggle="modal" data-bs-target="#videoModal" class="bi action bi-camera-video"></i>
            <i *ngIf="chat.participants.length>0" (click)="viewProfile()" class="bi action bi-person"></i>
            <div class="dropdown">
                <i class="bi action bi-three-dots-vertical" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdown">
                    <li>
                        <p>Set Password</p><i class="bi bi-shield-lock"></i>
                    </li>
                    <li *ngIf="chat.participants.length>0" (click)="deleteChat()">
                        <p>Clear</p><i class="bi bi-trash3"></i>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main [ngClass]="{'visible':!firstLoad}" #mainContainer>
        <div *ngFor="let message of chat?.messages" class="message"
            [ngClass]="{'from-server': !message.from, 'from-me': message.from?._id===myProfile._id}">
            <h6 class="message-sender">{{ message.from?.name }}</h6>
            <div *ngIf="message.from" class="message-wrapper">
                <img class="profile-image" [src]="message.from?.image || '../../../assets/profile.png'">
                <div>
                    <p class="message-content">{{ message.content }}</p>
                    <p class="timestamp">{{_getTime(message.createdAt)}}</p>
                    <div class="dropdown">
                        <i class="bi bi-three-dots-vertical action" data-bs-toggle="dropdown"></i>
                        <ul class="dropdown-menu custom-dropdown" aria-labelledby="dropdown">
                            <li>
                                <p>Reply</p><i class="bi bi-reply"></i>
                            </li>
                            <li (click)="copyMessageContent(message.content)">
                                <p>Copy</p><i class="bi bi-files"></i>
                            </li>
                            <li>
                                <p>Forward</p><i class="bi bi-chat-right-dots"></i>
                            </li>
                            <li>
                                <p>Delete</p><i class="bi bi-trash3"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="!message.from" class="server-message">
                <p class="content">{{message.content+' - '}}<span
                        class="timestamp">{{_getTime(message.createdAt)}}</span></p>
            </div>
        </div>
    </main>
    <footer>
        <input [formControl]="messageForm" (keydown.enter)="sendMessage()" autocomplete="off" type="text"
            placeholder="Enter Message..." class="form-control">
        <div class="Actions">
            <div>
                <i class="bi bi-image"></i>
                <i class="bi bi-paperclip"></i>
            </div>
            <i (click)="sendMessage()" class="bi bi-send-fill"></i>
        </div>
    </footer>
    <i *ngIf="!isAtBottom" (click)="updateScrollbar(false)" class="bi bi-arrow-down-short"></i>
</div>

<ng-template #noChat>
    <main class="noChat">
        <p class="bi bi-arrow-left" (click)="closeChat()"></p>
        <article>
            <i class="bi bi-chat-left"></i>
            <h2>Start Conversation</h2>
        </article>
    </main>
</ng-template>

<!-- Modal here! -->
<div class="modal fade" id="audioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <img [src]="(chat?.image || ((chat?.participants?.length===2 && chat?.participants?.at(0)?._id === myProfile?._id) ?
    chat?.participants?.at(1)?.image : chat?.participants?.at(0)?.image)) || '../../../assets/profile.png'">
            <h4>{{
                chat?.name ||
                (chat?.participants?.[0]?._id === myProfile._id
                ? chat?.participants?.[1]?.name
                : chat?.participants?.[0]?.name)
                }}</h4>
            <p>Start Audio Call</p>
            <div class="Actions"><i data-bs-dismiss="modal" class="bi bi-x-lg"></i><i data-bs-dismiss="modal"
                    (click)="startAudioCall()" class="bi bi-telephone-fill"></i>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <img [src]="(chat?.image || ((chat?.participants?.length===2 && chat?.participants?.at(0)?._id === myProfile?._id) ?
            chat?.participants?.at(1)?.image : chat?.participants?.at(0)?.image)) || '../../../assets/profile.png'">
            <h4>{{
                chat?.name ||
                (chat?.participants?.[0]?._id === myProfile._id
                ? chat?.participants?.[1]?.name
                : chat?.participants?.[0]?.name)
                }}</h4>
            <p>Start Video Call</p>
            <div class="Actions"><i data-bs-dismiss="modal" class="bi bi-x-lg"></i><i data-bs-dismiss="modal"
                    (click)="startVideoCall()" class="bi bi-camera-video-fill"></i></div>
        </div>
    </div>
</div>