.content {
    display: flex;
    flex-direction: column;
    gap: 3px;

    p {
        font-size: 0.92rem;
    }
}

main {
    .wrapper {
        gap: 0.3rem;
    }

    padding-bottom: 0.5rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    p {
        font-size: 0.72rem;
    }
}