.content {
    display: flex;
    flex-direction: column;
    gap: 3px;

    p {
        font-size: 0.85rem;
        white-space: nowrap;
    }
}

.profileImg {
    min-width: 47.59px
}

main {
    .wrapper {
        gap: 0.3rem;
    }

    margin-bottom: 0.5rem;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;

    p {
        font-size: 0.72rem;
    }
}