<div class="component-container">
    <header>
        <h4>Chats</h4> <i class="bi bi-chat-dots-fill"></i>
    </header>
    <div class="searchBar">
        <label class="form-label"><i class="bi bi-search"></i>
            <input type="text" class="form-control" placeholder="Search messages or users">
        </label>
    </div>
    <h5>Recent</h5>
    <main>
        <div class="chat active">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">2</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
        <div class="chat">
            <div class="wrapper">
                <div>
                    <img src="../../../assets/profile.png">
                    <i class="bi bi-circle-fill"></i>
                </div>
                <div class="content">
                    <h6>Name</h6>
                    <p>Last message</p>
                </div>
            </div>
            <div class="info">
                <p>05 min</p>
                <p class="new-messages">22</p>
            </div>
        </div>
    </main>
</div>