<div class="searchBar">
    <label><i class="bi bi-search"></i>
        <input [formControl]="searchRequestsForm" (ngModelChange)="search()" autocomplete="off" type="text"
            class="form-control" placeholder="Search people...">
    </label>
</div>
<main class="overflow">
    <div *ngFor="let person of requests" class="person">
        <div (click)="viewProfile(person._id)" class="wrapper">
            <img src="../../../assets/profile.png">
            <h6>{{person.name}}</h6>
        </div>
        <div class="actions req">
            <p (click)="acceptFriendRequest(person)">Accept</p>
            <p (click)="declineFriendRequest(person._id)">Decline</p>
        </div>
    </div>
</main>