<div class="component-container">
    <header>
        <h4>My Profile</h4>
    </header>
    <section>
        <div class="image-container">
            <img src="../../../assets/profile.png">
            <div class="overlay">
                <i class="bi bi-camera"></i>
                <p>Change profile photo</p>
            </div>
        </div>
    </section>
    <main>
        <div class="title">
            <h6>Your name</h6>
            <i class="bi targetedIcons bi-pencil-fill" (click)="editInfo('name')"></i>
        </div>
        <ng-container *ngIf="!showNameInput; else nameInput">
            <p class="content">{{myProfile.name}}</p>
        </ng-container>
        <ng-template #nameInput>
            <input class="form-control margin" type="text" [(ngModel)]="myProfile.name">
        </ng-template>
        <div class="title">
            <h6>About</h6>
            <i class="bi targetedIcons bi-pencil-fill" (click)="editInfo('about')"></i>
        </div>
        <ng-container *ngIf="!showAboutTextarea; else aboutTextarea">
            <p class="content">{{myProfile.about}}</p>
        </ng-container>
        <ng-template #aboutTextarea>
            <textarea class="form-control" [(ngModel)]=" myProfile.about"></textarea>
        </ng-template>
    </main>

</div>