<div class="component-container">
    <h4>My Profile</h4>
    <section>
        <div class="image-container">
            <img src="../../../assets/profile.png">
            <div class="overlay">
                <i class="bi bi-camera"></i>
                <p>Change profile photo</p>
            </div>
        </div>
    </section>
    <main>
        <div class="title">
            <h6>Your name</h6><i class="bi bi-pencil-fill"></i>
        </div>
        <p class="content spacing">Name</p>
        <div class="title">
            <h6>About</h6><i class="bi bi-pencil-fill"></i>
        </div>
        <p class="content">If several languages coalesce, the grammar of the resulting language is more simple and
            regular
            than that of the individual.</p>
    </main>
</div>