section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    img {
        width: 11rem;
        border-radius: 100%;
        transition: opacity 0.3s ease-in-out;
    }

    .image-container {
        border-radius: 100%;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .overlay {
        .bi {
            opacity: 1;
            font-size: 1.5rem;
        }

        p {
            color: var(--secondary-font);
        }

        user-select: none;
        position: absolute;
        bottom: 3rem;
        padding: 0;
        text-align: center;
        border-radius: 100%;
        color: #fff;
        font-size: 0.9rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        text-transform: uppercase;
    }

    .image-container:hover {
        img {
            opacity: 0.3;
        }

        .overlay {
            opacity: 1;
        }
    }
}

.title {
    .bi {
        font-size: 0.8rem;
    }

    width: 100%;
    padding: 0 1.3rem;
    margin: 1.3rem auto;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bi-check-lg {
        font-size: 1.1rem;
        margin-top: -6px;
    }
}

main {
    margin: 2rem 5px;
    border-top: 1px solid var(--aside-background);
    overflow: auto;
    align-items: flex-start;
}

.content {
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 0 1.3rem;
}

.form-control {
    width: calc(100% - 2.6rem);
    margin: 0 1.3rem;
    background-color: var(--aside-background);
    border-color: var(--main-background);
    color: var(--primary-font);
    font-weight: 500;
    font-size: 0.95rem;
}

.margin {
    margin-bottom: -15px;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--active);
}

.fileChooser {
    display: none;
}