.chat-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-font);
    overflow: auto;
    height: 100%;
}

.bi-arrow-left {
    display: none;
}

.header-wrapper {
    border-bottom: 1px solid var(--aside-background);
    padding-bottom: 0.7rem;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 1.8rem;
}

.bi-trash3 {
    position: absolute;
    cursor: pointer;
    right: -30px;
}

.bi-trash3:hover {
    opacity: 0.7;
}

.field {
    position: relative;
    border: 1px solid var(--aside-background);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.35rem;
    width: 320px;
    justify-content: space-between;
    display: flex;
}

.invalid-feedback {
    margin-top: 0.5rem;
    width: fit-content;
    display: block;
}

.wrapper {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.btn-primary {
    background-color: var(--active-font);
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    background-color: var(--active-font);
    opacity: 1;
}

.selected {
    background-color: var(--section-background);
}

.goleft {
    justify-content: flex-end;
}

.date-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#start {
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    color: var(--primary-font);
    background-color: var(--modal-input);
    border: 1px solid var(--aside-background);
    -webkit-text-stroke-width: 0.25px;
}

#start::-webkit-calendar-picker-indicator {
    filter: invert(0.6);
}

#start:focus {
    box-shadow: none;
    border-color: var(--active);
}

.noAdmin {
    justify-content: center;
}

@media only screen and (max-width: 599px) {
    .noAdmin {
        justify-content: space-between;
    }

    .bi-arrow-left {
        cursor: pointer;
        -webkit-text-stroke-width: 0.3px;
        background-color: var(--aside-background);
        border-radius: 100%;
        padding: 0.3rem;
        font-size: 1.2rem;
        margin-left: 1rem;
        color: var(--primary-font);
        display: inherit;
    }

    .bi-arrow-left:hover {
        opacity: 0.7
    }
}