<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample">
    <div class="offcanvas-header">
        <i class="bi bi-x-lg" data-bs-dismiss="offcanvas" aria-label="Close"></i>
    </div>
    <div class="offcanvas-body">
        <header class="flex">
            <img src="../../../assets/profile.png">
            <div class="flex">
                <h5>Patrick Hendricks</h5>
                <div class="flex inline">
                    <i class="bi bi-record-circle-fill"></i>
                    <p> online</p>
                </div>
            </div>
        </header>
        <footer>
            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that
                of the individual.</p>
        </footer>
    </div>
</div>