:root {
    --aside-background: #36414b;
    --section-backgroud: #313941;
    --main-background: #272e34;
    --primary-font: #969fc0;
    --secondary-font: #e1e8ef;
    --active-font: #6b62d9;
    --active: #3e4b57;
}

html,
body {
    height: 100%;

    ::-webkit-scrollbar {
        width: 0.4rem;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
    }
}