:root {
    --aside-background: #36414b;
    --section-background: #313941;
    --main-background: #272e34;
    --primary-font: #969fc0;
    --secondary-font: #e1e8ef;
    --active-font: #6b62d9;
    --active: #3e4b57;
    --dropdown: #313a43;
    --modal-background: #262d3b;
    --modal-input: #2d3244;

    --busy: #ec4344;
    --online: #39a55d;
    --offline: #747e8d;
    --info-color: rgba(255, 70, 109, 0.8);
    --info-background: rgba(188, 59, 72, 0.2);
}

.active {
    background-color: var(--aside-background);
}

// Component Container

.component-container {
    color: var(--secondary-font);
    display: flex;
    flex-direction: column;
    height: 100%;

    .bi {
        font-size: 0.9rem;
        opacity: 0.75;
        cursor: pointer;
        padding: 5px;
        font-size: 1rem;
    }

    .bi:hover {
        opacity: 1;
    }

    p {
        color: var(--primary-font);
        font-size: 0.95rem;
        font-weight: 500;
    }

    h4 {
        font-size: 1.3rem;
    }


    h5 {
        margin: 2rem 1.7rem 0.8rem 1.7rem;
        font-size: 1.04rem;
    }

    header {
        letter-spacing: 1px;
        margin: 1.5rem 1.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;

        .person:hover {
            background-color: var(--aside-background);
        }
    }
}

// NewMessage

p.new-messages {
    font-size: 0.72rem;
    padding: 0 6px;
    border-radius: 10px;
    color: var(--info-color);
    background-color: var(--info-background);
}

// Checkbox

.form-check-input {
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;
}

// Dropdown

.dropdown {
    user-select: none;

    ul {
        transition: 0.07s ease-in-out;
        box-shadow: 0 0 6px rgba(0, 0, 0, .2);
        border-color: var(--aside-background);
        color: var(--primary-font);
        background-color: var(--section-background);
    }

    hr {
        border-color: var(--aside-background);
    }

    li {
        padding: 0 1.5rem;
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
    }

    li:hover {
        background-color: var(--aside-background);
    }

    .bi,
    p {
        font-weight: 400;
        font-size: 0.9rem;
    }
}

// Modal

.modal {
    transition: 0.2s ease-in-out;
}

.modal-content {
    border-width: 2px;
    border-color: var(--aside-background);
    background: var(--modal-background);

    // Header

    .modal-header {
        border-color: var(--aside-background);

        .bi {
            padding: 5px;
            opacity: 0.5;
            cursor: pointer;
        }

        .bi:hover {
            opacity: 0.9;

        }

        .modal-title {
            font-size: 1.05rem;
        }

        font-size: 0.7rem;
        color: var(--secondary-font);
    }

    // Footer

    .modal-footer {
        border-color: var(--aside-background);

        .btn-primary {
            padding: 0.45rem 1rem;
            background-color: var(--active-font);
            border: none;
            border-radius: 0.2rem;
        }

        .btn:hover {
            opacity: 0.85;
        }

        .btn-secondary {
            background-color: transparent;
            border-color: transparent;
            color: var(--active-font);
            font-weight: 500;
        }
    }

    // Body

    .modal-body {
        padding: 1.3rem;
        font-weight: 500;
        font-size: 0.95;
        color: var(--primary-font);

        input[type="text"],
        textarea[type="text"] {
            margin-top: 0.6rem;
            border-radius: 0.2rem;
            padding-left: 1rem;
            background-color: var(--modal-input);
            border-color: var(--aside-background);
            color: var(--primary-font);
            font-size: 0.91rem;
            font-weight: 500;
            opacity: 0.9;
            margin-bottom: 1.3rem;
        }

        input[type="text"]:focus,
        textarea[type="text"]:focus {
            box-shadow: none;
            border-color: var(--active);
        }

        .person:hover {
            background-color: var(--modal-input);
        }

        // ModalSearchBar

        .searchBar {
            label {
                margin-top: 0.5rem;
                width: 100%;
                cursor: text;
                padding: 2px 12px;
                background-color: var(--modal-input);
                border-radius: 0.2rem;
                border: 1px solid var(--aside-background);

                .bi {
                    padding-top: 2px;
                }
            }

            input[type="text"] {
                border: none;
                padding: 4px 12px;
                margin: 0;
            }
        }

    }
}

// Actions

.actions {
    display: flex;
    gap: 0.5rem;

    p {
        font-size: 0.8rem;
        transition: 0.2s ease-in-out;
        border-radius: 0.2rem;
        padding: 0.3rem 0.4rem;
        background-color: var(--aside-background);
    }

    p:hover {
        opacity: 0.5;
    }
}

.person:hover {
    .actions p {
        background-color: var(--section-background);
    }
}

// SearchBar

.searchBar {
    label {
        cursor: text;
        padding: 2px 12px;
        display: flex;
        background-color: var(--aside-background);
        width: 85%;
        border-radius: 0.2rem;

        .bi {
            color: var(--primary-font);
            opacity: 1;
            cursor: text;
        }

        .bi:hover {
            opacity: 1;
        }
    }

    input[type="text"] {
        background-color: transparent;
        border-color: transparent;
        color: var(--primary-font);
        font-size: 0.91rem;
        font-weight: 500;
    }

    input[type="text"]:focus {
        box-shadow: none;
        background-color: transparent;
        border-color: transparent;
    }

    display: flex;
    justify-content: center;
}

// Tooltip

.icon-container {
    position: relative;
    display: inline-block;
    z-index: 100;

    .tooltip-text {
        user-select: none;
        font-size: 0.73rem;
        visibility: hidden;
        position: absolute;
        top: 125%;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        opacity: 0.75;
        color: white;
        padding: 5px;
        border-radius: 5px;
        white-space: nowrap;
    }

}

.icon-container:hover .tooltip-text {
    visibility: visible;
}

// Person

.person {
    user-select: none;
    gap: 1rem;
    transition: 0.2s ease-in-out;
    border-radius: 3px;
    cursor: pointer;
    padding: 1rem 1.3rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;

    img {
        border: 2px solid var(--aside-background);
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 100%;
    }

    .bi {
        font-size: 0.9rem;
    }

    .wrapper {
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 1rem;

        .bi-circle-fill {
            font-size: 0.4rem;
            position: relative;
            right: 10px;
            top: 10px;
            color: var(--offline);
            padding: 2px;
            border-radius: 100%;
            background-color: var(--section-background);
            opacity: 1;
        }

        .online {
            color: var(--online);
        }
    }
}

.person:active {
    opacity: 0.6;
}

@media only screen and (max-width: 410px) {
    .modal-body {
        .person {
            width: 100%;
        }
    }
}

// Default

html,
body {
    background-color: var(--main-background);
    height: 100%;
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
}

input[type="text"]::-webkit-input-placeholder {
    color: var(--primary-font);
}

input[type="text"]::-moz-placeholder {
    color: var(--primary-font);
}

input[type="text"]:-ms-input-placeholder {
    color: var(--primary-font);
}

input[type="text"]:-moz-placeholder {
    color: var(--primary-font);
}

.offcanvas-backdrop {
    z-index: 1900;
}