.app-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--root);
}

.notLoaded {
    height: 100%;
    background-color: red;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 95%;
}

.header {
    border-left: 2px solid black;
    display: flex;
    align-items: center;
    height: 6%;
    background-color: rgb(180, 180, 180);

    h3 {
        padding: 0 2rem;
        margin-bottom: 0;
    }
}

.search-friends {
    display: flex;
    text-align: center;
    justify-content: center;
}

.convs {
    width: 30%;
    height: 94%;
    background-color: rgb(212, 212, 212);
}

.conv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conv-header>* {
    padding: 1rem;
}

.icons {
    display: inline;

    i {
        margin-left: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
        padding: 0.4rem 0.6rem;
        border: 1px solid black;
        border-radius: 100%;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 94%;
    background-color: white;
}

.chat-body {
    width: 100%;
}

.messages {
    height: 94%;
    padding: 1.5rem 4rem 0rem 2rem;
    overflow-x: auto;

    p {
        word-wrap: break-word;
    }
}

.chat-input {
    .form-control {
        width: 80%;
    }

    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.profileImage>img {
    border-radius: 100%;
    width: 40px;
    height: auto;
}